# FRONTEND ENVIRONMENT VARIABLES
# Copy this file, rename it to .env, and replace the values if needed.

# The URL of your local Node.js backend.
# When deploying to production, this will change to your real server URL.
VITE_API_URL="http://localhost:3000/api/v1"
VITE_SOCKET_URL="http://localhost:3000"
